.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.login-form{
    background-color: #DAF0EE ;
    padding: 1.5rem;
    color: #3B413C;
    border-radius: 1rem;
    width: 25vw;

}

.form-field{
    margin-top: 1rem;
}

.form-field input{
    border: 1px #3B413C solid;
    border-radius: 0.5rem;
    padding: 0.3rem 0.5rem;
    width: 100%;
}

.form-link{
    display: block;
    margin: 1rem;
    font-weight: 500;
    transition: all ease-in 150ms;
}

.form-button{
    background-color: #3B413C;
    color: white;
    display: block;
    width: 100%;
    border-radius: 0.3rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    transition: all 200ms ease-in;
}

.form-button:hover{
    scale: 0.95;
}

.form-button:active{
    background-color: #272B27;
}

.form-link:hover{
    color: #272B27;

}

label{
    display: block;
}

label.rem{
    display: inline;
}

#rememberMe{
    width: auto;
}