/*****************************
        Nav Bar
******************************/

.navbar-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    height: 8vh;
    background: #3A403A;
    border-radius: 1rem;
}

.new-character-button{

        background-color: #3B413C;
        color: white;
        display: block;
        padding: 0.5rem 1.5rem;
        border-radius: 0.8em;
        transition: all 200ms ease-in;
        font-size: 1.5rem;
}

.new-character-button:hover{
    scale: 0.95;
}

.new-character-button:active{
    background-color: #131513;
}

/*****************************
        Character List
******************************/
.character-list{
    background-color: #DAF0EE;
    width: 75%;
    height: 100%;
    padding: 1rem;
    border-radius: 1rem;
}

.character{
    background: #750D37;
    color: white;
    font-size: 1.4rem;
    padding: 0.5rem 1.5rem;
    margin-top: 0.8rem;
    border-radius: 1rem;
    transition: all ease-in 200ms;
}

.character:hover{
    scale: 0.95;
}

.character:active{
    background: #37061A;
}